@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: #edf2f7;
    margin: 0;
    padding: 0 15px;
    padding-left: 315px;
}

p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: -3px;
    cursor: pointer;
}

#mobileNavigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    div {
        width: 15px;
        height: 15px;
        border: solid;
        visibility: hidden;
    }
}

#sidebar {
    width: 300px;
    height: 100vh;
    left: 0;
    top: 0;
    background: #4299e1;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px, rgba(0, 0, 0, 0.06) 0px 1px 6px 0px;

    header {
        width: calc(100% - 25px);
        padding-left: 20px;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: space-evenly;
        color: #ffffff;
        word-break: break-all;

        #buttonWrapper {
            width: calc(100% + 20px);
            margin-left: -20px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 10px;
        }

        h3 {
            margin-top: -5px;
        }
    
        button {
            font-family: 'Inter', sans-serif;
            font-size: 17px;
            text-decoration: underline;
            font-weight: 500;
            background: none;
            border: none;
            cursor: pointer;
            color: white;

            &:nth-child(1) {
                margin-bottom: 15px;
            }
        }
    }
}

#overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    margin-left: -315px;
    visibility: hidden;

    &.tooBigContainer {
        height: calc(100% - 120px);
        padding: 60px 0;
        justify-content: flex-start;
    }

    #fullMessage {
        visibility: hidden;
        width: 700px;
        background: white;
        word-break: break-all;
        margin-top: -5px;
        border-radius: 15px;
        padding: 10px 15px;
    }

    #fullLink {
        visibility: hidden;
        width: 700px;
        background: white;
        margin-top: -5px;
        border-radius: 15px;
        padding: 20px;
        position: absolute;
        display: flex;
        flex-wrap: row nowrap;
        justify-content: space-between;
        align-items: center;

        input {
            width: calc(100% - 50px);
            font-family: 'Inter', sans-serif;
            background: none;
            border: none;
            font-size: 18px;
            outline: none;
        }

        div {
            width: 20px;
            height: 20px;
            cursor: pointer;
            border: solid;
        }
    }
}

@media screen and (max-width: 750px) {
    body {
        padding-left: 15px;
    }

    #sidebar {
        visibility: hidden;
        opacity: 0;
        margin-left: -300px;
        transition-duration: 300ms;
        z-index: 999;

        &.active {
            visibility: visible;
            opacity: 1;
            margin-left: 0;
        }
    }

    #overlay {
        margin-left: -15px;
        z-index: 9999;

        #fullMessage, #fullLink {
            width: calc(100% - 60px);
            z-index: 9999;
        }
    }

    #mobileNavigation {
        div {
            visibility: visible;
        }
    }

    #slideOverlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        margin-left: -15px;
        visibility: hidden;
        opacity: 0;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
}